@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Pranav Jawaji<br />
    Pune 411014<br />
    <abbr title="Phone">P:</abbr>
    8055652615
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:pranav.jawaji@eternussolutions.com">pranav.jawaji@eternussolutions.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:pranav.jawaji@eternussolutions.com">pranav.jawaji@eternussolutions.com</a>
</address>